<div class="card rounded " (click)="mostrarModal()">
    <div class="row mb-2">
        <p class="marcar mb-2">15:30</p>
    </div>
    <div class="row ms-5 fs-4 mb-0"> 
      
            <p class="marcar text-start ">N.443</p>
    
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <p class="apagado mb-0">Gabriel Rammos</p>
            <p class="apagado mb-2">(48)99128-4968</p>
            <div class="container-fluid info-delivery ">
                <div class="row">
                    <div class="group d-flex justify-content-between ">
                        <p class="me-3 marcar">Delivery</p>
                        <p class="marcar-fundo rounded-pill entregador ">Entregador</p>
                    </div>
                   
                    <p class="endereco w-100">Av pinherio, 278, apt45, TOLEDO PARANA</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="group d-flex">
                <p class="mb-0 total">Total:</p>
                <p class="dinherio ms-3"> R$ 90,00</p>
            </div>
            <p class="mb-0 marcar">Cartão</p>
            <button type="button" class="btn btn-primary w-50" (click)="$event.stopPropagation();">Aceitar</button>
        </div>
    </div>
</div>