<div class="container p-4">
    <div class="row ">
        <div class="d-flex justify-content-center">
            <p class="marcar me-2">855</p>
            <p class="hora">15:30</p>
        </div>
        
    </div>
    <div class="row mb-3">
        <h5>Itens do pedido</h5>
    </div>

    <div class="container-fluid items">
        <ul>
            <li class="item my-2 p-1 rounded-pill">
                <div class="row ">
                    <div class="col-4 text-center">
                        <p class="my-2  ms-2 fundo-bola">12</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="my-2 aumentar-destaque">X-salada coração</p>
                    </div>
                    <div class="col-4 text-center ">
                        <p class="my-2 fw-bolder fst-italic">R$24,50</p>
                    </div>
                </div>
            </li>
            <li class="item my-2 p-1 rounded-pill">
                <div class="row">
                    <div class="col-4 text-center">
                        <p class="my-2  ms-2 fundo-bola">12</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="my-2 aumentar-destaque">X-salada coração</p>
                    </div>
                    <div class="col-4 text-center ">
                        <p class="my-2 fw-bolder fst-italic">R$24,50</p>
                    </div>
                </div>
            </li>
            <li class="item my-2 p-1 rounded-pill">
                <div class="row">
                    <div class="col-4 text-center">
                        <p class="my-2  ms-2 fundo-bola">12</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="my-2 aumentar-destaque">X-salada coração</p>
                    </div>
                    <div class="col-4 text-center ">
                        <p class="my-2 fw-bolder fst-italic">R$24,50</p>
                    </div>
                </div>
            </li>
            <li class="item my-2 p-1 rounded-pill">
                <div class="row">
                    <div class="col-4 text-center">
                        <p class="my-2  ms-2 fundo-bola">12</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="my-2 aumentar-destaque">X-salada coração</p>
                    </div>
                    <div class="col-4 text-center ">
                        <p class="my-2 fw-bolder fst-italic">R$24,50</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div class="row my-4 w-100">
        <div class="d-flex ps-5">
            <div class="col-6 ">
                <div class="row">
                    <p class="cinza-forte ">
                        Gabriel Rammos
                    </p>
                    
                </div>
                <div class="row">
                    <p class="cinza-forte">
                        (45)3332-2222
                    </p>
                    
                </div>
                <div class="row">
                    <p class="cinza-forte endereco ">
                        Av pinherio, 278, apt45, TOLEDO PARANA
                    </p>
                    
                </div>
            </div>
            <div class="col-6 ps-5 text-end">
                <div class="row">
                    <div class="d-flex">
                        <p class="cinza-forte me-2">
                            Subtotal:
                        </p>
                        <p class="fw-bolder ms-5">
                            R$25,50
                        </p>
                    </div>
                   
                </div>
                <div class="row ">
                    <div class="d-flex">
                        <p class="cinza-forte me-2">Taxa de entrega: </p>
                        <p class="taxa text-end ms-2"> R$4,50</p>
                    </div>
                    
                </div>
                <div class="divisor"></div>
                <div class="row mt-3">
                    <div class="d-flex">
                        <p class="cinza-forte me-2">
                            Total: 
                        </p>
                        <p class="fw-bolder ms-5">
                            R$24,50
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
       
    </div>

    <div class="row" >
        <div class="d-flex justify-content-between">
            <p class="marcar fs-5">Delivery</p>
            <div class="botoes">
                <button class="btn btn-primary mx-2">Entregador</button>
                <button class="btn btn-primary mx-2 " (click)="fechar()">Cancelar</button>
                <button class="btn btn-primary mx-2" >Avançar</button>
            </div>
           
        </div>
        
    </div>
</div>